<h1>Cadastro de Aluno</h1>

<form #studentForm="ngForm">
  <div>
    <label for="studentName">Nome:</label>
    <input type="text" id="studentName" name="studentName" [(ngModel)]="newStudent.name"
      required #studentName="ngModel">
    <span *ngIf="studentName.invalid && studentName.dirty">
      Campo obrigatório
    </span>
  </div>

  <div>
    <label for="studentEmail">E-mail:</label>
    <input type="text" id="studentEmail" name="studentEmail" [(ngModel)]="newStudent.email"
      required #studentEmail="ngModel">
    <span *ngIf="studentEmail.invalid && studentEmail.dirty">
      Campo obrigatório
    </span>
  </div>

  <div>
    <label for="studentCellPhone">Celular:</label>
    <input type="number" id="studentCellPhone" name="studentCellPhone" [(ngModel)]="newStudent.cellPhone"
      required #studentCellPhone="ngModel">
    <span *ngIf="studentCellPhone.invalid && studentCellPhone.dirty">
      Campo obrigatório
    </span>  
  </div>
  <input type="button" value="Salvar" [disabled]="studentForm.invalid" (click)="saveStudent()">
</form>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Celular</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.cellPhone | cellPhone : true }}</td>
      <td><input type="button" value="Edit" (click)="edit(student)"></td>
      <td><input type="button" value="Delete" (click)="delete(student)"></td>
    </tr>
  </tbody>
</table>