<h1>Cadastro de Disciplinas</h1>

<form>
  <div>
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" [(ngModel)]="newSubject.name">
  </div>
  <div>
    <label for="workload">Carga Horária:</label>
    <input type="number" id="workload" name="workload" [(ngModel)]="newSubject.workload">
  </div>
  <div>
    <label for="period">Período:</label>
    <input type="number" id="period" name="period" [(ngModel)]="newSubject.period">
  </div>
  <div>
    <label for="course">Curso:</label>
    <select id="course" name="course" [(ngModel)]="newSubject.course_fk">
        <option *ngFor="let c of courses" [ngValue]="c.id">
            {{ c.name }}
        </option>
    </select>
  </div>
  <input type="button" value="Salvar" (click)="save()">
</form>

<h2>Disciplinas cadastradas</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Carga Horária</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="subjects.length === 0">
      <td colspan="5">Nenhuma disciplina cadastrada ainda!</td>
    </tr>
    <tr *ngFor="let subject of subjects">
      <td>{{ subject.name }}</td>
      <td>{{ subject.workload }}</td>
      <td>{{ subject.period }}</td>
      <td><input type="button" value="Editar" (click)="edit(subject)"></td>
      <td><input type="button" value="Excluir" (click)="delete(subject)"></td>
    </tr>
  </tbody>
</table>