<h1>Cadastro de CEP</h1>

<form #cepForm="ngForm">
  <div>
    <label for="cep">CEP:</label>
    <input type="number" id="cep" name="cep" [(ngModel)]="newCep.cep"
      required #cep="ngModel">
    <span *ngIf="cep.invalid && cep.dirty">
      Campo obrigatório
    </span>
  </div>

  <div>
    <label for="city">Cidade:</label>
    <input type="text" id="city" name="city" [(ngModel)]="newCep.city"
      required #city="ngModel">
    <span *ngIf="city.invalid && city.dirty">
      Campo obrigatório
    </span>
  </div>

  <div>
    <label for="state">Estado:</label>
    <input type="text" id="state" name="state" [(ngModel)]="newCep.state"
      required #state="ngModel">
    <span *ngIf="state.invalid && state.dirty">
      Campo obrigatório
    </span>  
  </div>
  <input type="button" value="Salvar" [disabled]="cepForm.invalid" (click)="saveCep()">
</form>

<table>
  <thead>
    <tr>
      <th>CEP</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="ceps.length === 0">
      <td colspan="5">Nenhum CEP cadastrado ainda!</td>
    </tr>
    <tr *ngFor="let cep of ceps">
      <td>{{ cep.cep | cep }}</td>
      <td>{{ cep.city }}</td>
      <td>{{ cep.state | state }}</td>
      <td><input type="button" value="Edit" (click)="edit(cep)"></td>
      <td><input type="button" value="Delete" (click)="delete(cep)"></td>
    </tr>
  </tbody>
</table>