h1 {
    text-align: center;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

form div {
    padding: 5px;
}

span {
    color: red;
}