<h1>Investimentos</h1>

<form>
    <div>
        <label for="value">Valor:</label>
        <input type="number" id="value" name="value" [(ngModel)]="newMoney.value">
    </div>
    <div>
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" [(ngModel)]="newMoney.date">
    </div>
    <input type="button" value="Adicionar" (click)="save()">
</form>

<google-chart
  [title]="chart.title"
  [type]="chart.type"
  [data]="chart.data"
  [width]="chart.width"
  [height]="chart.height"
  [columnNames]="chart.columnNames"
  [options]="chart.options">
</google-chart>